.feed-container
  if stories
    for story in stories
      .feed-item-container
        .feed-item
          .feed-item_author-container
            .feed-item_author
              p.author #{story.user}
          .feed-item_text
            h2 #{story.title}
            p #{story.subtitle}
        .feed-item_img place image bonus?
  else
    p There are no stories
