.footer
  .footer__container
      p.footer__title Mediumm
      p.footer__subtitle Made with ❤️ by:
      .devs
        a(href="https://www.linkedin.com/in/daveyclee/" class="footer__brand-link") Brian
        span.footer__brand-link-spacer |
        a(href="https://www.linkedin.com/in/daveyclee/" class="footer__brand-link") David
        span.footer__brand-link-spacer |
        a(href="https://www.linkedin.com/in/gabriel-lane-4120651bb/" class="footer__brand-link") Gabriel
        span.footer__brand-link-spacer |
        a(href="https://www.linkedin.com/in/mark-mcclatchy-155367bb/" class="footer__brand-link") Mark