.log-in-overlay__center-box
    .center-box__close
        button.log-in-form__demo-login Demo Login
        button.close__log-in
            i(class="fa fa-times" aria-hidden="true")
    .center-box__overlay-body
        .overlay-body__center
            .center__welcome Welcome Back.
            ul.center-box__log-in-errors-container
            form.center__log-in-form
                //- div
                //-     label(for="username") Username
                div
                    input(type="text" name='username' placeholder='Username' required)
                //- div
                //-     label(for='password') Password
                div
                    input(type='password' name='password' placeholder='Password' required)
                div
                    button.log-in-form__submit(type="submit") Continue
                //- div
                //-     span No account?
                //-     a.sign-up-link(href="") Create one
