.log-in-overlay__center-box
    .center-box__close
        button.close__log-in
            i(class="fa fa-times" aria-hidden="true")
    .center-box__overlay-body
        .overlay-body__center
            h1.center__welcome Welcome Back.
            ul.center-box__log-in-errors-container
            form.center__log-in-form
                .log-in-form__input-wrapper
                    input.input-wrapper__username(type="text" name='username' placeholder='Username' required)
                    input.input-wrapper__password(type='password' name='password' placeholder='Password' required)
                .log-in-form__button-wrapper
                    button.log-in-form__submit(type="submit") Continue
                    button.log-in-form__demo-login Demo Login
