.log-in-overlay__center-box
    .center-box__close
        button.close__log-in
            i(class="fa fa-times" aria-hidden="true")
    .center-box__overlay-body
        .overlay-body__center
            .center__welcome Welcome Back.
            .center-box__log-in-errors-container
            form#loginForm
                div
                    label(for="username") Username
                div
                    input(type="text" name='username' placeholder='Username')
                div
                    label(for='password') Password
                div
                    input(type='password' name='password')
                div
                    button(type="submit") Continue
                div
                    span No account?
                    a.sign-up-link(href="") Create one
    .errors-container