.center-box
    .close
        button.close-log-in
            i(class="fa fa-times" aria-hidden="true")
    .overlay-body
        .center-overlay-body
            .welcome Welcome Back.
            form.log-in-form
                div
                    label(for="username") Username
                div
                    input(type="text" name='username' placeholder='Username')
                div
                    label(for='password') Password
                div
                    input(type='password' name='password')
                div
                    button(type="submit") Continue
                div
                    span No account?
                    a.sign-up-link(href="") Create one
    .errors-container