.nav-bar
  .nav-bar__inner
    .brand-container
      a(href="/").brand Medium
    .links-container
      i(class="fa fa-lg fa-user-plus nav-bar__sign-up-btn")
      i(class="fa fa-lg fa-sign-in nav-bar__log-in-btn")