.nav-bar
  .nav-bar__inner
    .nav-bar__inner-brand-container
      a(href="/").brand Medium
    .nav-bar__inner-links-container
      i(class="fa fa-user-plus nav-bar__sign-up-btn" data-tooltip="Sign Up")
      i(class="fa fa-sign-in nav-bar__log-in-btn" data-tooltip="Log In")
      div(class="nav-bar__user-avatar")
        if user
          span(class="nav-bar__user-avatar__initials") #{user.firstName[0]}#{user.lastName[0]}
        else
          span(class="nav-bar__user-avatar__initials")
