.nav-bar
  .nav-bar__inner
    .nav-bar__inner-brand-container
      a(href="/").brand Mediumm
    .nav-bar__inner-links-container
      if user
        a(href="/stories/create" class="newStoryLink")
          i(class="fa fa-plus nav-bar__new-story-btn" data-tooltip="New Story")
        i(class="fa fa-sign-out nav-bar__log-out-btn" data-tooltip="Log Out")
      else
        i(class="fa fa-user-plus nav-bar__sign-up-btn" data-tooltip="Sign Up")
        i(class="fa fa-sign-in  nav-bar__log-in-btn" data-tooltip="Log In")
      div(class="nav-bar__user-avatar")
        if user
          span(class="nav-bar__user-avatar__initials") #{user.firstName[0]}#{user.lastName[0]}
        else
          span(class="nav-bar__user-avatar__initials")
