.response-form-container
    form(class='new-response-form')
        .response-form-group
            label(for="content")
            input(type="textarea", name="content", placeholder="What are your thoughts?")

//- to be connected with response feed (and story view?)
