.response-form-container
    form.response-form-container__new-response-form
        .response-form-group
            label(for="content")
            input(type="textarea", name="content", placeholder="What are your thoughts?")

//- to be connected with response feed (and story view?)

