.sign-up-overlay__center-box
    .center-box__close
        button.close__sign-up
            i(class="fa fa-times fa-lg" aria-hidden="true")
    .center-box__overlay-body
        .overlay-body__center
            h1.center__welcome Join Mediumm
            .center-box__sign-up-errors-container
            form(id="signupForm").center__sign-up-form
                .sign-up-form__input-wrapper
                    input(type="text" name='firstName' placeholder='First Name' required)
                    input(type="text" name='lastName' placeholder='Last Name' required)
                    input(type="text" name='username' placeholder='Username' required)
                    input(type='email' name='email' placeholder='Email Address' required)
                    input(type='password' name='password' placeholder='Password' required)
                    input(type='password' name='confirmPassword' placeholder='Confirm Password' required)
                .sign-up-form__button-wrapper
                    button.sign-up-form__submit(type="submit") Sign Up!
                    button.sign-up-form__demo-login Demo Login 
    

