.trending-bar
    .trending-bar__content
        each story, index in topStories   
            div(class="content__story#{index + 1}")
                .story__rank 0#{index + 1}
                .story__