extends layout

block content
    .nav-bar
        button.nav-bar__sign-up-btn Sign Up
        button.nav-bar__log-in-btn Log In
    .home-grid-section
        .home-grid-container
            .home-grid
                .home-feed-container
                    include includes/feed
                .home-reading-list-container READING LIST?