extends layout

block content
    include includes/hero-section
    include includes/trending
    .home-grid-section
        .home-grid-container
            .home-grid
                .home-feed-container
                    include includes/feed
                .home-reading-list-container READING LIST?