doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="png" href="/images/mediumIcon.png")
        link(rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

        link(href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="/style.css")
        link(rel="stylesheet", href="/overlay.css")
        link(rel="stylesheet", href="/trending.css")
        link(rel="stylesheet", href="/story.css")
        link(rel="stylesheet", href="/footer.css")

        title Medium Clone
    body
        main.body__main
            include includes/navbar
            block content
            .sign-up-overlay.hidden
                include includes/sign-up-overlay
            .log-in-overlay.hidden
                include includes/log-in-overlay
        include includes/footer
    script(type="module" src="/js/auth.js")
    script(type="module" src="/js/index.js")
    