extends layout
  block content
    .screen
      .login-container
        .login-container_inner
          .login-title
            h2.login-text Sign up with email
          .login-textbox
            .login-form
              h4 Enter your Email Address and password to log in
          .login-form-container
            .login-form
              .login-email-container
                div
                  .login-form
                    form(method='POST' action='/users')
                      label(for='email') Email
                      input(type='email' name='email')
                      label(for='password') Password
                      input(type='password' name='password')
                      input(type='submit' value='submit')  
                    
              //- .login-button
