extends layout
block content
  .screen
    #error-container
        ul
        for error in errors
          li #{error}       
    .login-container
      .login-container_inner
        .login-title
          h2.login-text Sign up with email
        .login-textbox
          .login-form
            h4 Enter your Email Address and password to log in
        .login-form-container
          .login-form
            .login-email-container
              div
                form.login-form(method='POST' action='/users')
                  label(for='email') Email
                  input(type='email' name='email')
                  label(for='password') Password
                  input(type='password' name='password')
                  input(type='submit' value='submit')  
                  
            //- .login-button
