extends layout
block content
  .screen
    .login-container
      .login-container_inner
        .login-textbox
          h2.login-text Sign up with email
        .login-textbox
          h4 Enter your email address to create an account.
        .login-form