extends layout.pug


block content
    .nav-bar
        button.nav-bar__sign-up-btn Sign Up
        button.nav-bar__log-in-btn Log In
    .errors-container
    .new-story-form-container
        form(class="new-story-form")
            .form-group
                label(for="title") Title
                input(type="text", name="title", placeholder="Title")
            .form-group
                label(for="subtitle") Subheader
                input(type="text", name="subtitle", placeholder="Subheader")
            .form-group
                label(for="content")
                input(type="textarea", name="content", placeholder="Tell your story...")
            .form-group
                label(for="imageUrl") Add an image
                input(type="url", name="imageUrl", placeholder="https://example.com/image.jpg")
            button(type="submit") Publish

    script(type="module" src="js/new-story.js")
