extends layout.pug


block content
    .nav-bar
        button.nav-bar__sign-up-btn Sign Up
        button.nav-bar__log-in-btn Log In
    .errors-container
//-   form(class="create-form")
//-     .form-group
//-       label(for="message") Message
//-       input#message.form-control(type="message", name="message", placeholder="What do you want to say?")
//-     button.btn.btn-primary(type="submit") Tweet

//-   script(src="js/create.js")
