extends layout
  block content
    .screen
      .login-container
        .login-container_inner
          .login-title
            h2.login-text Sign Up
          .login-textbox
            .login-form
              h4 Enter your information to create an account.
          .login-form-container
            .login-form
              .login-email-container
                div
                  .login-form
                    //- .email-label
                    //-   h4 Your Email
                    form(method='POST' id="signupForm" action='/users')
                      label(for='username') Username
                      input(type='text' name='username')
                      label(for='email') Email
                      input(type='email' name='email')
                      label(for='password') Password
                      input(type='password' name='password')
                      label(for='passwordConfirmation') Confirm Password
                      input(type='password' name='passwordConfirmation')
                      input(type='submit' value='submit')
              //- .login-button
