extends layout

block content
    .nav-bar
        button.nav-bar__sign-up-btn Sign Up
        button.nav-bar__log-in-btn Log In
    .home-grid-section
        h2 Stories
        .home-grid-container
            .user-grid
                .user-feed-container
                    include includes/feed