extends layout

block content
    .nav-bar
        button.nav-bar__sign-up-btn Sign Up
        button.nav-bar__log-in-btn Log In
    .screen
        h2 Stories
        .home-grid-section
            .user-grid-container
                .user-grid
                    .user-feed-container
                        include includes/feed