extends layout

block content
  .screen
    .home-grid-section
      .user-grid-container
        .user-grid
          .userProfile
            .userProfile__header
              h2.userName= storiesData[0].authorName
              if user
                .user-followButton-container
                  .user-followButton
                    button#follow(value=`${storiesData[0].userId}`) Follow
            .userDetails
              p.userBio= storiesData[0].bio
              img(src=`${storiesData[0].avatarUrl}`).userAvatar
          .user-feed-container
              include includes/feed
  script(type="module" src="/js/follow.js")