extends layout

block content
  .screen
    .home-grid-section
      .user-grid-container
        .user-grid
          .userProfile
            h2.userName= stories[0].User.username
            .userDetails
              p.userBio= stories[0].User.bio
              img(src=`${stories[0].User.avatarUrl}`).userAvatar
          .user-feed-container
              include includes/feed