.footer {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  max-width: initial;
  margin-top: 30px;
  bottom: 0;
  height: 150px;
}

.footer__container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 90%;
  /* grid-template-columns: repeat(8, 1fr) repeat(4, minmax(48px, 1fr)); */
  /* max-width: 1200px; */
  margin: auto;
}

.footer__container .devs {
  display: flex;
  flex-flow: row nowrap;
  /* outline: 1px solid white; */
  padding: 0.5rem;
}

.footer__brand-link {
  color: rgba(255, 255, 255, 1);
  font-family: "Fira Sans", serif;
  font-size: 0.875rem;
  font-style: italic;
  text-decoration: none;
}

.footer__brand-link:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  color: white;
  font-style: normal;
}

.footer__brand-link-spacer {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0.25em;
}

.footer__header_brand {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.footer__project_link {
  color: white;
}

.footer__title {
  color: white;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  margin: 0;
}

.footer__subtitle {
  color: gray;
  font-size: 0.875rem;
  margin: 0.25rem 0;
  text-align: right;
}

.footer__brand {
  align-items: center;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.875rem;
}

.footer__brand > .dev {
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.875rem;
  justify-content: space-between;
  outline: 1px dotted white;
  padding: 0.25em;
  width: 200px;
}

.footer__brand-link-box {
  align-items: center;
  background-color: #008000;
  border-radius: 4px;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  /* outline: 1px solid white; */
  height: auto;
  width: 50px;
}

.footer__brand-button {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-family: "Fira Sans", serif;
  font-style: italic;
  margin: 0 0.25rem;
  padding: 0.5rem;
}

.footer__brand-button:hover {
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.8); */
  background-color: #008000;
  color: rgba(255, 255, 255, 0.9);
  font-style: normal;
}
