/******************* Main Story Section *******************/

.main__story-container {
  max-width: 680px;
  margin: auto;
}

.story-container__story {
  display: flex;
  flex-flow: column;
}

.story__title {
  font-size: 48px;
  font-family: "Playfair Display", serif;
}

.story__subtitle {
  font-size: 24px;
  font-family: "Fira Sans", sans-serif;
  color: rgba(117, 117, 117, 1);
  margin-top: 20px;
}

.story__information {
  display: flex;
  flex-flow: row;
  height: 50px;
  margin: 20px 0;
}

.information__author-img {
  width: 50px;
}

.information__container {
  display: flex;
  flex-flow: column;
  margin-left: 10px;
}

.container__author {
  display: inline;
  margin-bottom: 3px;
}

.author__name-link {
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 14px;
  transition: text 250ms ease-in-out;
}

.author__name-link:hover {
  text-decoration: underline;
}

.author__follow-button,
.follow-container__follow-button {
  background-color: white;
  color: rgba(3, 168, 124, 1);
  border: rgba(3, 168, 124, 1) solid 1px;
  border-radius: 3px;
  margin-left: 15px;
  padding: 3px 7px;
  transition: color 250ms ease-in-out;
}

.author__follow-button:focus,
.follow-container__follow-button:focus {
  outline: none;
}

.author__follow-button:hover,
.follow-container__follow-button:hover {
  color: #008000;
  border-color: #008000;
  fill: #008000;
}

.container__story-data {
  color: rgba(117, 117, 117, 1);
  font-size: 14px;
}

.story-data__read-time {
  margin-left: 15px;
}

.information__bookmark {
  margin-left: auto;
}

.story__image-container {
  display: flex;
  margin: 20px 0;
}

.image-container__img {
  width: 100%;
}

.story__content-container {
  font-family: "Playfair Display", serif;
  font-size: 21px;
  line-height: 2;
  margin-top: 20px;
}

.content-container__content {
  white-space: pre-line;
}

.story__below-content {
  margin-top: 20px;
}

.below-content__content-icons {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.content-icons__claps,
.content-icons__responses,
.content-icons__bookmark {
  display: flex;
  align-items: center;
}

.claps__img,
.responses__icon {
  height: 33px;
  width: 33px;
}

.claps__claps-count,
.responses__responses-count {
  font-size: 13px;
  font-family: "Fira Sans", sans-serif;
  color: rgba(117, 117, 117, 1);
  margin: 0 10px;
}

.content-icons__responses {
  margin-left: 20px;
}

.content-icons__bookmark {
  margin-left: auto;
}

.below-content__author-info {
  display: flex;
  font-family: "Fira Sans", sans-serif;
  margin: 50px 0;
}

.img-container__author-img {
  height: 100px;
  width: 100px;
}

.author-info__author-text {
  margin-left: 20px;
}

.author-text__written-by {
  color: rgba(117, 117, 117, 1);
  font-size: 14px;
}

.author-text__name {
  font-size: 28px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: text 250ms ease-in-out;
}

.author-text__name:hover {
  text-decoration: underline;
}

.author-text__bio {
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
}

.author-info__follow-container {
  display: flex;
  align-items: center;
}

.follow-container__follow-button {
  min-width: 68px;
  height: 32px;
  border-radius: 5px;
  padding: 3px 7px;
}

/******************* Left Bar *******************/

.main__left-side-panel {
  position: fixed;
  top: 100px;
  width: 10%;
  font-family: "Fira Sans", sans-serif;
  opacity: 0;
  margin-left: 5px;
}

.left-side-panel__follow-box {
  display: flex;
  flex-flow: column;
}

.main__left-side-panel div {
  margin: 15px 0;
}

.main__left-side-panel i {
  width: 25px;
  cursor: pointer;
}

.follow-box__author {
  color: black;
  text-decoration: none;
  transition: text 1000ms ease-in-out;
  border-bottom: 25px;
}

.follow-box__author:hover {
  text-decoration: underline;
}
.follow-box__follow-button-container {
  margin: 0px;
  padding: 0px;
}
.follow-box__follow-button {
  background-color: white;
  color: rgba(3, 168, 124, 1);
  border: rgba(3, 168, 124, 1) solid 1px;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 25px 0;
  min-width: 68px;
  height: 32px;
}

.follow-box__follow-button:focus {
  outline: none;
}

.left-side-panel__widgets-box div {
  display: flex;
  align-items: center;
}

.claps__img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .main__left-side-panel {
    display: none;
  }
}

/******************* Responses *******************/

.hidden {
  display: none;
  opacity: 0;
}

#responses-background {
  max-width: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.08);
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.slide-left {
  /* right: 425px; */
  transform: translateX(-425px);
}

#responses-container {
  transition: all 300ms ease-in-out;
  width: 425px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
  background-color: white;
  position: fixed;
  top: 0px;
  right: -425px;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  padding: 20px;
  font-family: "Fira Sans", sans-serif;
}

.responses-container__header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  color: rgba(25, 25, 25, 0.8);
}

.header__close-button {
  height: 25px;
  width: 25px;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__close-button:hover {
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}

.responses-container__new-response {
  box-sizing: border-box;
  min-height: 15px;
  transition: min-height 400ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
  padding: 15px;
  flex-shrink: 0;
}

#new-response__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-img__img {
  width: 32px;
  height: 32px;
}

.header__user-name {
  font-size: 14px;
  margin-left: 15px;
}

::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.form-content__text-area--sm {
  width: 100%;
  border: 0;
  /* margin: 10px 0; */
  height: 20px;
  font-size: 14px;
  resize: none;
  display: flex;
  align-items: center;
  transition: height 300ms ease-in-out, margin 300ms ease-in-out ;
}

.form-content__text-area--lg {
  transition: height 300ms ease-in-out, margin 300ms ease-in-out ;
  width: 100%;
  border: 0;
  /* margin: 10px 0; */
  height: 100px;
  font-size: 14px;
  resize: none;
}

.form-content__text-area--sm:focus,
.form-content__text-area--lg:focus {
  outline: none;
}

.buttons__cancel:focus,
.buttons__respond:focus {
  outline: rgba(3, 168, 124, 1);
}

.new-response__new-response-form--sm {
  height: 50px;
  padding: 14px;
}

#new-response-form__buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons__respond:disabled {
  opacity: 0.3;
}

.buttons__cancel {
  background-color: white;
  border: 0;
  font-size: 14px;
  font-weight: 400;
  margin-right: 15px;
}

.buttons__respond {
  background-color: rgb(3, 168, 124);
  color: white;
  box-sizing: border-box;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  border-width: 0px;
}

/************************/

.responses-container__responses-display {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  width: 100%;
  overflow-y: scroll;
  font-size: 14px;
}

.responses-display__container {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  margin-right: 30px;
  box-sizing: border-box;
}

.container__response-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.response-header__author-info {
  display: flex;
  flex-flow: row;
}

.author-info__author {
  width: 32px;
  height: 32px;
}

.author__image {
  width: 32px;
  height: 32px;
}

.author-info__container {
  display: flex;
  flex-flow: column;
  margin-left: 10px;
}

.container__author-name {
  font-weight: 500;
  text-decoration: none;
  color: black;
  transition: text 250ms ease-in-out;
}

.container__author-name:hover {
  text-decoration: underline;
}

.container__date {
  color: rgba(117, 117, 117, 1);
  font-size: 13px;
}

.response-header__trash-bin-container {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.trash-bin-container__confirm-delete {
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 3px;
  /* min-height: 15px; */
  padding: 3px;
  margin-right: 3px;
  cursor: pointer;
}

.trash-bin-container__trash-bin {
  max-width: 20px;
  max-height: 20px;
  opacity: .50;
  margin-right: 20px;
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
}

.new-trash-bin {
  margin-right: 40px;
}

.trash-bin-container__trash-bin:hover {
  opacity: 1;
  
}

.container__content {
  margin: 25px 0;
  display: flex;
  align-items: center;
}

.container__icons {
  margin-bottom: 10px;
}

.icons__claps {
  width: 25px;
  height: 25px;
}

/* .icons__claps-count {
} */

.responses-display__no-responses {
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
}
