.body{
  color: rgba(0,0,0,0.8);
}
.feed-container{
  box-sizing: border-box;
  display: block;
  font-weight: 400;
}
.feed-item-container{
  border: rgba(0,0,0,0.8);
  box-sizing: border-box;
  display: flex;
  height: 207.375px;
  font-weight: 400;
}
.feed-item{
  padding-bottom: 24px;
  display: block;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  /* in case we add images to the right side of the feed */
}
.feed-item_text{
  display: block;
  margin-right: 20px;
}
.subtitle{
  font-size: 12px;
  color: rgb(117, 117, 117);
}
.feed-item_author-container{
  display: block;
}
.feed-item_author{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.feed-item_author p{
  margin-bottom: 0px;
}
.feed-item_img{
  background-color: red;
  width: 200px;
  height: 133px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
.feed-img{
  max-width: 100%;
}
.author{
  font-size: 12px;
  margin: 0px;
  color: inherit;
  text-decoration: inherit;
}
.home-grid-section{
  justify-content: center;
  display: flex;
  padding-top: 56px;
  border-top: 1px solid rgba(230, 230, 230, 1);
}
.home-grid-container{
  display: block;
  margin-left: 64px;
  margin-right: 64px;
  width: 100%;
}
.home-grid{
  display: grid;
  /* grid-template-columns: repeat(13, 1fr); */
  grid-template-columns: repeat(8, 1fr) repeat(4, minmax(48px, 1fr));
  grid-template-rows: 1fr;
  font-weight: 400;
}
.home-feed-container{
  display: block;
  grid-row-start: 1;
  grid-column: 1 / span 8;
}
.home-reading-list-container{
  display: block;
  grid-row-start: 1;
  grid-column: 10 / span 4;
  background-color:blue;
}
.user-grid-container{
  display: block;
  margin-left: 64px;
  margin-right: 64px;
  width: 100%;
}
.user-grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
}
.user-feed-container{
  grid-column: 2 / span 6;
  display: block;
}
.user-item{
  padding-bottom: 48px;
  padding-top: 10px;
  display: block;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}