.body__main {
  color: rgba(41, 41, 41, 1);
  max-width: 1200px;
  margin: auto;
}

.bookmark__icon {
  opacity: 0;
}

.hide-the-followers {
  opacity: 0;
}

.brand {
  color: inherit;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}
.nav-bar {
  align-items: center;
  box-sizing: border-box;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px 0px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 48px;
  padding: 0 22px;
  margin: 10px 0;
}

.nav-bar__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

.nav-bar__inner-brand-container {
  grid-column: 1;
}

.nav-bar__inner-links-container {
  align-items: center;
  grid-column: 13;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  width: 5rem;
}

.nav-bar__new-story-btn {
  line-height: normal;
  padding: 0.5rem 0;
}

.nav-bar__log-out-btn {
  padding: 0.25rem;
}

.nav-bar__sign-up-btn,
.nav-bar__log-in-btn,
.nav-bar__log-out-btn,
.nav-bar__new-story-btn,
.nav-bar__user-avatar {
  font-size: 1.25em;
}

.nav-bar__sign-up-btn:hover,
.nav-bar__log-in-btn:hover,
.nav-bar__log-out-btn:hover,
.nav-bar__new-story-btn:hover,
.nav-bar__user-avatar:hover {
  color: lightgray;
  cursor: pointer;
}

.nav-bar__sign-up-btn:hover::after,
.nav-bar__log-in-btn:hover::after,
.nav-bar__log-out-btn:hover::after,
.nav-bar__new-story-btn:hover::after,
.nav-bar__user-avatar:hover::after {
  font-family: "Fira Sans", sans-serif;
  font-size: 60%;
  position: absolute;
  content: attr(data-tooltip);
  bottom: -2.5em;
  right: 1em;
  background-color: #4d4d4d;
  color: white;
  padding: 0.25em 0.5em;
}

.nav-bar__user-avatar {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  height: 1.25rem;
  justify-content: center;
  width: 1.25rem;
}

.nav-bar__user-avatar__initials {
  font-size: 60%;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  color: #4d4d4d;
}

.newStoryLink {
  color: black;
}

.new-story-form-container {
  margin: 0 auto;
  padding: 0 64px;
  width: 600px;
}

.new-story-form {
  width: 90%;
}

.story-form-title {
  font-family: "Fira Sans", sans-serif;
}

.make-it-black {
  background-color: black;
}

.feed-container {
  box-sizing: border-box;
  display: block;
  font-weight: 400;
}
.feed-item-container {
  border: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  display: flex;
  height: 207.375px;
  font-weight: 400;
}
.feed-item {
  padding-bottom: 24px;
  display: block;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  /* in case we add images to the right side of the feed */
}
.feed-item_text {
  display: block;
  margin-right: 20px;
  font-family: "Fira Sans", sans-serif;
}
.title {
  font-family: "Fira Sans", sans-serif;
}

.title a {
  color: inherit;
  text-decoration: none;
}

.follow:hover {
  background-color: #008000;
  color: white;
}

.title a:hover {
  border-bottom: 1px solid black;
}

.subtitle {
  font-size: 12px;
  color: rgb(117, 117, 117);
}
.feed-item_author-container {
  display: block;
}
.feed-item_author {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.feed-item_author p {
  margin-bottom: 0px;
}
.feed-item_img {
  width: 200px;
  height: 133px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
.feed-img {
  max-width: 100%;
}
.author {
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
  margin: 0px;
  color: inherit;
  text-decoration: inherit;
}
.home-grid-section {
  justify-content: center;
  display: flex;
  padding-top: 56px;
  /* border-top: 1px solid rgba(230, 230, 230, 1); */
}
.home-grid-container {
  display: block;
  margin-left: 22px;
  margin-right: 22px;
  width: 100%;
}
.home-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr) repeat(4, minmax(48px, 1fr));
  grid-template-rows: 1fr;
  font-weight: 400;
}
.home-feed-container {
  display: block;
  grid-row-start: 1;
  grid-column: 1 / span 7;
}
.home-reading-list-container {
  display: block;
  grid-row-start: 1;
  grid-column: 9 / span 5;
  background-color: rgb(250, 250, 250);
}
.user-grid-container {
  display: block;
  margin-left: 22px;
  margin-right: 22px;
  width: 100%;
}

.userProfile {
  display: flex;
  grid-column: 2 / span 6;
  flex-direction: column;
}

.userDetails {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.userAvatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.userBio {
  font-size: 13px;
}

.userName {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
}

.userBio {
  font-family: "Fira Sans", sans-serif;
  margin-top: 0;
}
.user-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
}
.user-feed-container {
  grid-column: 2 / span 6;
  display: block;
}
.userProfile__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}
.user-followButton-container {
}
.user-followButton {
  margin-left: 20px;
}
.user-followButton button {
  margin: 0;
  border: 1px solid rgba(3, 168, 124, 1);
  border-radius: 4px;
  font-size: 15px;
  fill: rgba(3, 168, 124, 1);
  color: rgba(2, 158, 116, 1);
  background: 0;
}
.user-followButton button:hover {
  color: #008000;
  border-color: #008000;
  fill: #008000;
}
.user-item {
  padding-bottom: 48px;
  padding-top: 10px;
  display: block;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.userFollows {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin-top: -5px;
}
.userFollows div {
  font-family: "Fira Sans", sans-serif;
  font-size: 13px;
  margin-right: 15px;
}
.clap_btn:hover {
  color: grey;
}

.clap_pressed {
  fill: black;
}

.user-info-form-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .hero-section {
    flex-wrap: wrap;
  }

  .hero-section__follow-section {
    /* flex-flow: row; */
  }
}

@media screen and (max-width: 800px) {
  .home-reading-list-container {
    display: none;
  }
  .home-grid {
    grid-template-columns: repeat(13, 1fr);
  }
  .home-feed-container {
    grid-column: 1 / span 13;
  }
  .home-grid-container,
  .trending-bar {
    margin: 0 10px;
  }
  .feed-item_img {
    height: 100px;
    width: 100px;
  }
  .user-grid-container {
    margin: 0 10px;
  }
  .user-feed-container,
  .userProfile {
    grid-column: 1 / span 8;
  }
  .nav-bar {
    padding: 0 10px;
  }
  .new-story-form-container {
    width: 80%;
    /* padding: 0 32px; */
  }
  .story-container__story {
    margin: 0 auto;
    width: 75%;
  }

  .hero-section {
    flex-flow: column wrap;
    align-items: center;
  }

  /* .hero-section__feature-section,
  .hero-section__articles-section, */
  .hero-section__follow-section {
    width: 100%;
    max-width: none;
  }

  .below-content__author-info {
    margin: 50px 0;
  }

  .follow-container__follow-button {
    margin-left: 0px;
  }
}
